@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.snap-scroll-container {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.snap-scroll-container::-webkit-scrollbar {
	display: none;
}

.cross {
	width: 12px;
	height: 12px;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cross::after,
.cross::before {
	content: '';
	position: absolute;
	height: 12px;
	width: 2px;
	background-color: rgb(var(--foreground-rgb));
}

.cross::after {
	transform: rotate(45deg);
}

.cross::before {
	transform: rotate(-45deg);
}
